<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/servlet</param-value>
    </context-param>
    <context-param>
        <param-name>un</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>up</param-name>
        <param-value>java</param-value>
    </context-param>
    <listener>
        <listener-class>
            DBcontextListener
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>HelloWorld</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Number</servlet-name>
        <servlet-class>Number</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>emp</servlet-name>
        <servlet-class>emp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>droupdwnlist</servlet-name>
        <servlet-class>droupdwnlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ButtonDemo</servlet-name>
        <servlet-class>ButtonDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ButtonDemoB</servlet-name>
        <servlet-class>ButtonDemoB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calculator</servlet-name>
        <servlet-class>Calculator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpData</servlet-name>
        <servlet-class>EmpData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>empconfig</servlet-name>
        <servlet-class>empconfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Counter</servlet-name>
        <servlet-class>Counter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>B1</servlet-name>
        <servlet-class>B1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ButtonDemoUrl</servlet-name>
        <servlet-class>ButtonDemoUrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>B2</servlet-name>
        <servlet-class>B2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>B3</servlet-name>
        <servlet-class>B3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ButtonDemoDispatch</servlet-name>
        <servlet-class>ButtonDemoDispatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewUser</servlet-name>
        <servlet-class>NewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPass</servlet-name>
        <servlet-class>ForgotPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelCome</servlet-name>
        <servlet-class>WelCome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>un</servlet-name>
        <servlet-class>un</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>up</servlet-name>
        <servlet-class>up</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>City</servlet-name>
        <servlet-class>City</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upcookie</servlet-name>
        <servlet-class>upcookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uncookie</servlet-name>
        <servlet-class>uncookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uccookie</servlet-name>
        <servlet-class>uccookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>writecookie</servlet-name>
        <servlet-class>writecookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readcookie</servlet-name>
        <servlet-class>readcookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showcookie</servlet-name>
        <servlet-class>showcookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>visitcookie</servlet-name>
        <servlet-class>visitcookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unsession</servlet-name>
        <servlet-class>unsession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upsession</servlet-name>
        <servlet-class>upsession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>citysession</servlet-name>
        <servlet-class>citysession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sessionlogin</servlet-name>
        <servlet-class>sessionlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productselection</servlet-name>
        <servlet-class>productselection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signout</servlet-name>
        <servlet-class>signout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mouse</servlet-name>
        <servlet-class>mouse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>belt</servlet-name>
        <servlet-class>belt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quiz</servlet-name>
        <servlet-class>quiz</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/HelloWorld</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Number</servlet-name>
        <url-pattern>/Number</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emp</servlet-name>
        <url-pattern>/emp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>droupdwnlist</servlet-name>
        <url-pattern>/droupdwnlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ButtonDemo</servlet-name>
        <url-pattern>/ButtonDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ButtonDemoB</servlet-name>
        <url-pattern>/ButtonDemoB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calculator</servlet-name>
        <url-pattern>/Calculator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpData</servlet-name>
        <url-pattern>/EmpData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>empconfig</servlet-name>
        <url-pattern>/empconfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Counter</servlet-name>
        <url-pattern>/Counter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>B1</servlet-name>
        <url-pattern>/B1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ButtonDemoUrl</servlet-name>
        <url-pattern>/ButtonDemoUrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>B2</servlet-name>
        <url-pattern>/B2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>B3</servlet-name>
        <url-pattern>/B3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ButtonDemoDispatch</servlet-name>
        <url-pattern>/ButtonDemoDispatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUser</servlet-name>
        <url-pattern>/NewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPass</servlet-name>
        <url-pattern>/ForgotPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelCome</servlet-name>
        <url-pattern>/WelCome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>un</servlet-name>
        <url-pattern>/un</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>up</servlet-name>
        <url-pattern>/up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>City</servlet-name>
        <url-pattern>/City</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upcookie</servlet-name>
        <url-pattern>/upcookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uccookie</servlet-name>
        <url-pattern>/uccookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>writecookie</servlet-name>
        <url-pattern>/writecookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readcookie</servlet-name>
        <url-pattern>/readcookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showcookie</servlet-name>
        <url-pattern>/showcookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>visitcookie</servlet-name>
        <url-pattern>/visitcookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unsession</servlet-name>
        <url-pattern>/unsession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upsession</servlet-name>
        <url-pattern>/upsession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>citysession</servlet-name>
        <url-pattern>/citysession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sessionlogin</servlet-name>
        <url-pattern>/sessionlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productselection</servlet-name>
        <url-pattern>/productselection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signout</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mouse</servlet-name>
        <url-pattern>/mouse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>belt</servlet-name>
        <url-pattern>/belt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quiz</servlet-name>
        <url-pattern>/quiz</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
