<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>HelloWorld</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Number</servlet-name>
        <servlet-class>Number</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>emp</servlet-name>
        <servlet-class>emp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>droupdwnlist</servlet-name>
        <servlet-class>droupdwnlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ButtonDemo</servlet-name>
        <servlet-class>ButtonDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ButtonDemoB</servlet-name>
        <servlet-class>ButtonDemoB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calculator</servlet-name>
        <servlet-class>Calculator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpData</servlet-name>
        <servlet-class>EmpData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/HelloWorld</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Number</servlet-name>
        <url-pattern>/Number</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emp</servlet-name>
        <url-pattern>/emp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>droupdwnlist</servlet-name>
        <url-pattern>/droupdwnlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ButtonDemo</servlet-name>
        <url-pattern>/ButtonDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ButtonDemoB</servlet-name>
        <url-pattern>/ButtonDemoB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calculator</servlet-name>
        <url-pattern>/Calculator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpData</servlet-name>
        <url-pattern>/EmpData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
